.react-datepicker {
  width: 100%;
  border: none;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__header {
  background-color: white;
  border: none;
  margin-bottom: 15px;
}

.react-datepicker__day-names {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.react-datepicker__day-name {
  font-weight: 600;
}

.react-datepicker__week {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .react-datepicker {
    display: none;
  }
}
