@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-work-sans);
  max-width: 1440px;
  margin: auto;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 57%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
